.Login {
  width: 100%;
  height: 100%;
}

.Login__form-container {
  box-shadow: 0.2em 0.4em 0.4em -0.2em #999;
  border-radius: 1em;
  width: 50%;
}

.Login__form-container > h2,
.Login__form-container > p {
  margin-top: 1em;
  text-align: center;
  font-weight: lighter;
}

.Login__logo {
  position: absolute;
  left: 50%;
  margin-left: -80px;
}
.FormExampleForm {
  padding: 1em;
}
